---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
console.log('This runs in your terminal, not the browser!');
import { Picture } from 'astro:assets';
// JavaScript in the frontmatter
import Layout from '@layouts/Layout.astro';
import cover from '@p/cover.jpg';
const pageTitle = 'BIN|astro|OCLE';
const items = ['First', 'Second', 'Third', 'FORZA UN PO!'];
---

<style>
  h1 {
    color: orange;
  }
</style>

<Layout title={pageTitle}>
  <h1 class='hide'>BINOCLE</h1>
  <div class='bungkus'>
    <div class='home shots'>
        <Picture src={cover} formats={['avif', 'webp']} alt='Binocle By Lorenzo Bini'  layout='constrained' />
    </div>
  </div>

  <script>
    console.log('This runs on the client');
  </script>
</Layout>
