---
// src/pages/index.astro
console.log('this ROKMA runs in your terminal, not the browser!');

import Layout from '@layouts/Layout.astro';
import { Picture } from 'astro:assets';
import cover from '@p/cover.jpg';
const pageTitle = 'BINOCLE | 2025 update';

---

<style>
  h1 {
    color: orange;
  }
</style>

<Layout title={pageTitle}>
  <h1 class='hide'>BINOCLE</h1>
  <div class='bungkus'>
    <div class='home shots'>
        <Picture src={cover} formats={['avif', 'webp']} alt='Binocle By Lorenzo Bini' layout='constrained' loading="eager" />
    </div>
  </div>

  <script>
    console.log('This ROKMA runs on the client');
  </script>
</Layout>
