---
// src/pages/index.astro
console.log('this ROKMA|DEV runs in your terminal, not in the browser, neither on the server!');
console.log('SOURCE_FILE: src/pages/index.astro');

import Layout from '@layouts/Layout.astro';
import { Picture } from 'astro:assets';
import cover from '@p/cover.jpg';
const pageTitle = 'BINOCLE | 2025 update';
const bodyClass = 'home';
---

<style>
  /* Home styles */
  body.home {
    min-height: 100svh;

    #binocle_mini_logo,
    .showing_menu #binocle_mini_logo {
      display: block;
    }
  }

  .pictureoftheday {
      user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    picture {
      height: 100%;
      /*max-height: 1920px;*/
      width: auto;
      object-fit: cover;
    }
  }
  .showing_menu .pictureoftheday,
  .showing_profile .pictureoftheday {
    display: none;
  }



</style>

<Layout title={pageTitle} bodyClass={bodyClass}>
  <h1 class='hide'>BINOCLE</h1>
  <main class='bungkus' id="main">
    <div class='home shots' id='also_toggle_works'>
      <div class='pictureoftheday'>
        <Picture
          src={cover}
          formats={['avif', 'webp']}
          alt='Binocle By Lorenzo Bini'
          layout='constrained'
          loading='eager'
        />
      </div>
    </div>
  </main>
</Layout>
