---
// src/components/Profile.astro
---

<style></style>

<div class='profile group hide' id='profile'>
  <div class='image_wrap profile_photo'></div>

  <div class='text_content'>
    <h1 class='work_name'>Profile</h1>
    <p>
      <strong>BINOCLE</strong> is the office led by Italian architect Lorenzo Bini that deals with the
      transformation of existing spaces, from temporary structures to permanent buildings and gardens.
    </p>
    <p>
      Born in 1971 and educated in Milan and Oslo, Lorenzo graduated in 1998 from Politecnico di
      Milano and worked in Milan and Rotterdam until 2003 when he started his own practice in
      Milano.
    </p>
    <p>
      Alongside the professional activity, Lorenzo has taught at the Politecnico di Milano, at the
      Design Academy Eindhoven and at NABA, Nuova Accademia di Belle Arti in Milan.
    </p>
    <p>
      In 2021 he became a member of the Council of the Order of Architects, Landscape Planners and
      Conservators of the Province of Milan with responsibility for cultural activities.
    </p>
    <p>
      <em
        >Download Lorenzo Bini’s CURRICULUM VITAE:&nbsp; <a href='/assets/pdf/LOREBINI-CV-IT.pdf'
          >[Italian]</a
        >&nbsp; <a href='/assets//pdf/LOREBINI-CV-EN.pdf'>[English]</a></em
      >
    </p>

    <div class='contact' itemscope='' itemtype='http://schema.org/Organization'>
      <h1 class='work_name' id='contact'>Contact</h1>

      <p class='site_title'>
        <span itemprop='name'><strong>Binocle</strong></span>
      </p>

      <p>
        <span itemprop='address' itemscope='' itemtype='http://schema.org/PostalAddress'>
          <span itemprop='streetAddress'>Via Giuseppe Colombo 81/a</span>
          <span itemprop='postalCode'>20133</span>
          <span itemprop='addressLocality'>Milan, Italy</span>
        </span>
      </p>

      <p itemprop='telephone'>
        <a href='tel:+39 02 78625376' title='telephone'>+39 02 78625376</a>
      </p>

      <p itemprop='email'>
        <a title='email' href='mailto:now@binocle.it'>now@binocle.it</a>
      </p>

      <p>
        <a
          title='Studio Binocle on Instagram'
          target='_blank'
          class='instagram'
          rel='noreferrer'
          href='https://www.instagram.com/studiobinocle/'>Instagram</a
        >
      </p>
    </div>
  </div>
</div>
