---
// JavaScript here - NOT TypeScript!
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import '@styles/main.css';
const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>

  </head>
  <body id="top">
    <Header />
    <slot />
    <!-- Page content goes here -->
<Footer/>

  </body>
</html>
