---
// JavaScript here - NOT TypeScript!
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{title}</title>
    <link rel='stylesheet' href='/src/styles/global.css' />
  </head>
  <body>
    <Header />
    <slot />
    <!-- Page content goes here -->
<Footer/>

  </body>
</html>
